<header>
<p>宿泊予約管理アプリ</p>
</header>

<body>
<% if current_user.present? %>
<p>こんにちは、<%= current_user.name %>さん！</p>
<% else %>
<p>こんにちは、ゲストさん！</p>
<% end %>
    <ul>
      <% if user_signed_in? %>
        <li>
        <p><%# link_to "施設新規登録", :new_rooms %></p>
        </li>
        <li>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "サインアップ", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "ログイン", new_user_session_path %>
        </li>
      <% end %>

    <%= yield %>
    </ul>

    <%# link_to "施設の一覧", :index_rooms %>

    
  </body>
