<h1>予約済み一覧</h1>

<table>
	<tbody>
		<tr>
			<td>チェックイン</td>
			<td>チェックアウト</td>
			<td>宿泊日数</td>
			<td>人数</td>
			<td>支払い金額</td>
		</tr>
		<tr>
			<td><%= @reservation.checkin %></td>
			<td><%= @reservation.checkout %></td>
			<td><%= @reservation.checkout %> - <%= @reservation.checkin  %> = <%= @totalday %></td>
			<td><P><%= @reservation.people %>人</p></td>
			<td><p>¥<%= @reservation.totalprice %></p></td>
		</tr>
	</tbody>
</table>